target/
.mvn/
mvnw*
run.bat

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

*.log*
log/
**/superpay/ws/*
src/main/java/META-INF/sun-jaxb.episode
src/main/java/com/cosmeticos/payment/superpay/ws/*

eraseme.xml
eraseme.json

*.pem
*.stackdump
*.pem